<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestApp-FX.Core.NET.Test-Value1" value="TestApp 1 Value 1 APP"/>
    <add key="TestApp-FX.Core.NET.Test-Value3" value="TestApp 1 Value 3 APP"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
